Demo_working.json
{
  "name": "Demo working",
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1385905153085014167",
          "mode": "list",
          "cachedResultName": "Hoobles",
          "cachedResultUrl": "https://discord.com/channels/1385905153085014167"
        },
        "channelId": {
          "__rl": true,
          "value": "1386281559497379933",
          "mode": "list",
          "cachedResultName": "hoobles",
          "cachedResultUrl": "https://discord.com/channels/1385905153085014167/1386281559497379933"
        },
        "content": "Hi! Your friend Toodles is here to talk to you! How are u feeling today?\n(To end the conversation, always feel free to send a \"Lets end this for today\" 💛)",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -2640,
        -640
      ],
      "id": "45baae59-748c-4a6e-abce-143362501ae7",
      "name": "Discord1",
      "webhookId": "f5a41a19-9269-43f5-9cf0-5f2fa616deab",
      "alwaysOutputData": true,
      "credentials": {
        "discordOAuth2Api": {
          "id": "AafYTkmxB6zIzLcp",
          "name": "Discord account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -880,
        -1000
      ],
      "id": "bff8c3c2-e5fc-438a-a012-5e69eb831360",
      "name": "Discord2",
      "webhookId": "761db274-6437-4a30-b278-9a426ba266db",
      "credentials": {
        "discordWebhookApi": {
          "id": "u73XGOcNAAxzJmnp",
          "name": "Discord Webhook account 3"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "get",
        "guildId": {
          "__rl": true,
          "value": "1385905153085014167",
          "mode": "list",
          "cachedResultName": "Hoobles",
          "cachedResultUrl": "https://discord.com/channels/1385905153085014167"
        },
        "channelId": {
          "__rl": true,
          "value": "1386281559497379933",
          "mode": "list",
          "cachedResultName": "hoobles",
          "cachedResultUrl": "https://discord.com/channels/1385905153085014167/1386281559497379933"
        },
        "messageId": "={{ $('Discord11').item.json.last_message_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -1720,
        -840
      ],
      "id": "b73dce16-34be-44cf-9e34-5a706fa2a365",
      "name": "Discord",
      "webhookId": "5491a6f5-d8f3-4277-aed8-e70ef60ca80e",
      "credentials": {
        "discordOAuth2Api": {
          "id": "AafYTkmxB6zIzLcp",
          "name": "Discord account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "get",
        "guildId": {
          "__rl": true,
          "value": "1385905153085014167",
          "mode": "list",
          "cachedResultName": "Hoobles",
          "cachedResultUrl": "https://discord.com/channels/1385905153085014167"
        },
        "channelId": {
          "__rl": true,
          "value": "1386281559497379933",
          "mode": "list",
          "cachedResultName": "hoobles",
          "cachedResultUrl": "https://discord.com/channels/1385905153085014167/1386281559497379933"
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -2000,
        -140
      ],
      "id": "7572d42d-34ea-4e40-b1f5-d10c7e15afc6",
      "name": "Discord3",
      "webhookId": "633b25ab-0925-4596-bca9-36622a03b936",
      "credentials": {
        "discordOAuth2Api": {
          "id": "AafYTkmxB6zIzLcp",
          "name": "Discord account"
        }
      }
    },
    {
      "parameters": {
        "amount": 0.3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2500,
        -640
      ],
      "id": "8db519b8-5d03-4f46-bd35-3a8200bc7b53",
      "name": "Wait",
      "webhookId": "5dd251f4-4a11-422f-b696-ebfd66cc1e18"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3a8ba369-289b-4f31-a59b-309e217d64e8",
              "leftValue": "={{ $json.content }}",
              "rightValue": "={{ $('Discord1').last().json.content }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1640,
        -140
      ],
      "id": "69a8aa82-8165-4e88-89a2-c8a36fe32b06",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "get",
        "guildId": {
          "__rl": true,
          "value": "1385905153085014167",
          "mode": "list",
          "cachedResultName": "Hoobles",
          "cachedResultUrl": "https://discord.com/channels/1385905153085014167"
        },
        "channelId": {
          "__rl": true,
          "value": "1386281559497379933",
          "mode": "list",
          "cachedResultName": "hoobles",
          "cachedResultUrl": "https://discord.com/channels/1385905153085014167/1386281559497379933"
        },
        "messageId": "={{ $json.last_message_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -1760,
        -140
      ],
      "id": "0f336394-b784-473a-82ea-233598018c8a",
      "name": "Discord7",
      "webhookId": "5491a6f5-d8f3-4277-aed8-e70ef60ca80e",
      "credentials": {
        "discordOAuth2Api": {
          "id": "AafYTkmxB6zIzLcp",
          "name": "Discord account"
        }
      }
    },
    {
      "parameters": {
        "amount": 0.3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1880,
        -140
      ],
      "id": "e73bec06-945d-4f79-97c4-3e13407ab84c",
      "name": "Wait4",
      "webhookId": "5dd251f4-4a11-422f-b696-ebfd66cc1e18"
    },
    {
      "parameters": {
        "amount": 0.3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1460,
        -120
      ],
      "id": "b89a1bd1-a499-49b7-9efb-739cccc16105",
      "name": "Wait5",
      "webhookId": "5dd251f4-4a11-422f-b696-ebfd66cc1e18"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "51ed452f-10aa-4e43-a9f5-a78ec5ea9fd9",
              "leftValue": "={{ $json.content }}",
              "rightValue": "Lets end this for today",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -300,
        -720
      ],
      "id": "e6e35c14-7086-4245-b190-38e1bc3c09a6",
      "name": "If1"
    },
    {
      "parameters": {
        "amount": 0.3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -920,
        -720
      ],
      "id": "d0212c2a-96dc-479d-8d04-57ee61bd910e",
      "name": "Wait2",
      "webhookId": "5dd251f4-4a11-422f-b696-ebfd66cc1e18"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "get",
        "guildId": {
          "__rl": true,
          "value": "1385905153085014167",
          "mode": "list",
          "cachedResultName": "Hoobles",
          "cachedResultUrl": "https://discord.com/channels/1385905153085014167"
        },
        "channelId": {
          "__rl": true,
          "value": "1386281559497379933",
          "mode": "list",
          "cachedResultName": "hoobles",
          "cachedResultUrl": "https://discord.com/channels/1385905153085014167/1386281559497379933"
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -780,
        -720
      ],
      "id": "374b47a5-7941-4d27-ac63-f31befc8f47f",
      "name": "Discord4",
      "webhookId": "633b25ab-0925-4596-bca9-36622a03b936",
      "credentials": {
        "discordOAuth2Api": {
          "id": "AafYTkmxB6zIzLcp",
          "name": "Discord account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "get",
        "guildId": {
          "__rl": true,
          "value": "1385905153085014167",
          "mode": "list",
          "cachedResultName": "Hoobles",
          "cachedResultUrl": "https://discord.com/channels/1385905153085014167"
        },
        "channelId": {
          "__rl": true,
          "value": "1386281559497379933",
          "mode": "list",
          "cachedResultName": "hoobles",
          "cachedResultUrl": "https://discord.com/channels/1385905153085014167/1386281559497379933"
        },
        "messageId": "={{ $json.last_message_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -460,
        -720
      ],
      "id": "302d3d74-785e-43b7-b386-49f91e59f417",
      "name": "Discord8",
      "webhookId": "5491a6f5-d8f3-4277-aed8-e70ef60ca80e",
      "credentials": {
        "discordOAuth2Api": {
          "id": "AafYTkmxB6zIzLcp",
          "name": "Discord account"
        }
      }
    },
    {
      "parameters": {
        "amount": 0.3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -620,
        -720
      ],
      "id": "ef5d1892-c312-44f2-8403-f661e6c2dfe6",
      "name": "Wait6",
      "webhookId": "5dd251f4-4a11-422f-b696-ebfd66cc1e18"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "I'm really glad we got to check in today. Remember, taking care of yourself is important — even the small steps count. I'm here whenever you need me again. 💛",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -60,
        220
      ],
      "id": "0cc6cf07-adf6-4a45-a98f-406668587f0a",
      "name": "Discord5",
      "webhookId": "316a6a38-395f-459c-9e50-28500acf4d9f",
      "credentials": {
        "discordWebhookApi": {
          "id": "u73XGOcNAAxzJmnp",
          "name": "Discord Webhook account 3"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "get",
        "guildId": {
          "__rl": true,
          "value": "1385905153085014167",
          "mode": "list",
          "cachedResultName": "Hoobles",
          "cachedResultUrl": "https://discord.com/channels/1385905153085014167"
        },
        "channelId": {
          "__rl": true,
          "value": "1386281559497379933",
          "mode": "list",
          "cachedResultName": "hoobles",
          "cachedResultUrl": "https://discord.com/channels/1385905153085014167/1386281559497379933"
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -620,
        -320
      ],
      "id": "45ec66e4-786b-4584-808c-987654fb959e",
      "name": "Discord6",
      "webhookId": "633b25ab-0925-4596-bca9-36622a03b936",
      "credentials": {
        "discordOAuth2Api": {
          "id": "AafYTkmxB6zIzLcp",
          "name": "Discord account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "get",
        "guildId": {
          "__rl": true,
          "value": "1385905153085014167",
          "mode": "list",
          "cachedResultName": "Hoobles",
          "cachedResultUrl": "https://discord.com/channels/1385905153085014167"
        },
        "channelId": {
          "__rl": true,
          "value": "1386281559497379933",
          "mode": "list",
          "cachedResultName": "hoobles",
          "cachedResultUrl": "https://discord.com/channels/1385905153085014167/1386281559497379933"
        },
        "messageId": "={{ $json.last_message_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -260,
        -320
      ],
      "id": "08869b21-d999-4c64-b0f4-b8019043549e",
      "name": "Discord9",
      "webhookId": "5491a6f5-d8f3-4277-aed8-e70ef60ca80e",
      "credentials": {
        "discordOAuth2Api": {
          "id": "AafYTkmxB6zIzLcp",
          "name": "Discord account"
        }
      }
    },
    {
      "parameters": {
        "amount": 0.3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -440,
        -320
      ],
      "id": "6d9bd2e6-657e-4a24-99b4-3ff647c2f7a3",
      "name": "Wait7",
      "webhookId": "5dd251f4-4a11-422f-b696-ebfd66cc1e18"
    },
    {
      "parameters": {
        "amount": 0.3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -760,
        -320
      ],
      "id": "0139d1b4-90ae-4b72-af1b-6257e351d4f9",
      "name": "Wait8",
      "webhookId": "5dd251f4-4a11-422f-b696-ebfd66cc1e18"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "51ed452f-10aa-4e43-a9f5-a78ec5ea9fd9",
              "leftValue": "={{ $json.content }}",
              "rightValue": "={{ $('AI Agent').item.json.output }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -520,
        -80
      ],
      "id": "f17f7597-c86c-45df-9b6a-96f3e029368b",
      "name": "If2"
    },
    {
      "parameters": {
        "amount": 0.3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -100,
        -320
      ],
      "id": "d66946d7-81bd-4f99-9a46-2c7c5ce83bc1",
      "name": "Wait9",
      "webhookId": "5dd251f4-4a11-422f-b696-ebfd66cc1e18"
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1220,
        160
      ],
      "id": "2b428fc8-3870-4d05-a12c-ea627ed0a1cd",
      "name": "Wait10",
      "webhookId": "5dd251f4-4a11-422f-b696-ebfd66cc1e18"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "30838010-3212-4618-a463-ba93b8f57d73",
              "leftValue": "={{ $json.content }}",
              "rightValue": "Lets end this for today",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1560,
        -440
      ],
      "id": "2d02a520-4815-400e-b443-59153e53e9e6",
      "name": "If3"
    },
    {
      "parameters": {
        "amount": 0.3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1060,
        -1120
      ],
      "id": "c45fbf47-f367-4d1f-9621-ea2e16f4872a",
      "name": "Wait11",
      "webhookId": "5dd251f4-4a11-422f-b696-ebfd66cc1e18"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "get",
        "guildId": {
          "__rl": true,
          "value": "1385905153085014167",
          "mode": "list",
          "cachedResultName": "Hoobles",
          "cachedResultUrl": "https://discord.com/channels/1385905153085014167"
        },
        "channelId": {
          "__rl": true,
          "value": "1386281559497379933",
          "mode": "list",
          "cachedResultName": "hoobles",
          "cachedResultUrl": "https://discord.com/channels/1385905153085014167/1386281559497379933"
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -2000,
        -840
      ],
      "id": "fee21ff3-7dd0-441e-b401-67f571be17b4",
      "name": "Discord11",
      "webhookId": "e375013e-cedd-40bd-80c8-3e5a98ad8a08",
      "credentials": {
        "discordOAuth2Api": {
          "id": "AafYTkmxB6zIzLcp",
          "name": "Discord account"
        }
      }
    },
    {
      "parameters": {
        "amount": 0.3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1860,
        -840
      ],
      "id": "b8d1205b-f395-4878-95f8-7ee18cdb915f",
      "name": "Wait3",
      "webhookId": "5dd251f4-4a11-422f-b696-ebfd66cc1e18"
    },
    {
      "parameters": {
        "amount": 0.3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1920,
        -560
      ],
      "id": "949acc09-3114-496e-959b-883d8734887f",
      "name": "Wait13",
      "webhookId": "5dd251f4-4a11-422f-b696-ebfd66cc1e18"
    },
    {
      "parameters": {
        "model": "mindcraft-gpt4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        -1520,
        -960
      ],
      "id": "078fb301-9c3d-48b5-ab2d-c0e896fa28ec",
      "name": "Azure OpenAI Chat Model",
      "credentials": {
        "azureOpenAiApi": {
          "id": "9tbFWL7c2r63toDy",
          "name": "Azure Open AI account 2"
        }
      }
    },
    {
      "parameters": {
        "amount": "=1"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1820,
        -1160
      ],
      "id": "efcbbdcb-c550-4f32-ae8d-613a02a4c98a",
      "name": "Wait12",
      "webhookId": "5dd251f4-4a11-422f-b696-ebfd66cc1e18"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "getAll",
        "guildId": {
          "__rl": true,
          "value": "1385905153085014167",
          "mode": "list",
          "cachedResultName": "Hoobles",
          "cachedResultUrl": "https://discord.com/channels/1385905153085014167"
        },
        "channelId": {
          "__rl": true,
          "value": "1386281559497379933",
          "mode": "list",
          "cachedResultName": "hoobles",
          "cachedResultUrl": "https://discord.com/channels/1385905153085014167/1386281559497379933"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -2460,
        -1140
      ],
      "id": "79bee5d6-28c3-49aa-9824-10f4499822c5",
      "name": "Discord10",
      "webhookId": "7d3376ed-788b-4681-bea2-21617f0d7ba5",
      "credentials": {
        "discordOAuth2Api": {
          "id": "AafYTkmxB6zIzLcp",
          "name": "Discord account"
        }
      }
    },
    {
      "parameters": {
        "amount": 0.3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2160,
        -1060
      ],
      "id": "96f4bad7-42f7-42f2-a470-774df2507a36",
      "name": "Wait14",
      "webhookId": "5dd251f4-4a11-422f-b696-ebfd66cc1e18"
    },
    {
      "parameters": {
        "jsCode": "const messages = items\n  .filter(item => item.json.content && (item.json.author.id === \"1386282070149431306\" || $('Discord').first().json.author.id === item.json.author.id))\n  .sort((a, b) => new Date(a.json.timestamp) - new Date(b.json.timestamp))\n  .map(item => item.json.content);\n\nconst memory = messages.join(\"\\n\");\n\nreturn [{\n  json: {\n    memory,\n    content: messages[messages.length - 1] || 'No message',\n    author_id: $('Discord').first().json.author.id || 'default_user'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2160,
        -1240
      ],
      "name": "Code1",
      "id": "1bfa0fbe-8c67-4bcc-8c4d-cef6a9aac0e0"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.memory }}",
        "contextWindowLength": 100000
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1360,
        -1000
      ],
      "name": "Simple Memory1",
      "id": "ccdf4e49-17af-4955-9815-be9d3ba358a7"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a caring self-care friend.\nUser said: \"{{ $('Discord').last().json.content }}\". Analyze the mood based previous messages(\"{{ $json.memory }}\"\"), and reply accordingly just to what the user said and what u responded with earlier. Keep the answers short and direct with love. Ask a follow up question only if necessary.",
        "options": {
          "systemMessage": "You are a caring self-care friend.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -1560,
        -1340
      ],
      "id": "bce6c685-32d6-428d-9624-fb8e10e78f14",
      "name": "AI Agent",
      "executeOnce": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 500
    },
    {
      "parameters": {
        "unit": "hours"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1240,
        420
      ],
      "id": "8b7aae1f-8b1c-4bab-996a-60cfb27fec9f",
      "name": "Wait15",
      "webhookId": "5dd251f4-4a11-422f-b696-ebfd66cc1e18"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2920,
        -660
      ],
      "id": "fddef3e8-48bf-44d0-be50-8ed4ed5e4cab",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {},
  "connections": {
    "Discord1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord2": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord": {
      "main": [
        [
          {
            "node": "Wait14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord3": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Discord3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord7": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Discord7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "Discord3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Wait8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Discord5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Discord4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord4": {
      "main": [
        [
          {
            "node": "Wait6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord8": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "node": "Discord8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord6": {
      "main": [
        [
          {
            "node": "Wait7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord9": {
      "main": [
        [
          {
            "node": "Wait9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait7": {
      "main": [
        [
          {
            "node": "Discord9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait8": {
      "main": [
        [
          {
            "node": "Discord6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Wait8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait9": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait10": {
      "main": [
        [
          {
            "node": "Discord3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Wait13",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Discord5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait11": {
      "main": [
        [
          {
            "node": "Discord2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord11": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait13": {
      "main": [
        [
          {
            "node": "Discord11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait12": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord10": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait14": {
      "main": [
        [
          {
            "node": "Discord10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Wait12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Wait11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord5": {
      "main": [
        [
          {
            "node": "Wait15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait15": {
      "main": [
        [
          {
            "node": "Discord1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Discord1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "db1a6e7b-5853-4d52-974d-9ab4daf396e7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3a44c6e8da5aba5413879fdcc43cdc657acf7fdcfc8f7c723f2abc807e27ed13"
  },
  "id": "VzF93LPwrEqLQHyC",
  "tags": []
}